{:lein     true
 :dev-http {8080 ["resources/public/"
                  "target"
                  "classpath:resources"
                  "classpath:resources/public"
                  "node_modules"
                  "node_modules/leaflet/dist"
                  "node_modules/mathjax/es5"
                  "node_modules/ag-grid-community"]}
 :builds   {:app {:output-dir "resources/public/js/compiled"
                  :asset-path "/js/compiled"
                  :target     :browser
                  :modules    {:main {:entries [gorilla-notes.main]}}
                  :module-loader true
                  :devtools   {:after-load gorilla-notes.main/reload!}}}}
